<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BanCaribe - accounts</title>
    <link rel="shortcut icon" type="image/png" href="/img/logo.png">
    <link rel="stylesheet" href="/assets/menu.css">
    <link rel="stylesheet" href="/assets/accounts.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div id="app" v-cloak>
        <nav class="navbar-expand-lg">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <div class="navbar-brand d-flex align-items-center justify-content-center">
                        <img src="/img/logo.png" alt="Logo" width="50" height="44"
                            class="d-inline-block align-text-top">
                        <h2>BanCaribe</h2>
                    </div>
                </div>
                <div class="navbar-collapse nav-bar" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Mi Perfil
                            </a>
                            <ul class="dropdown-menu">
                                <li><img src="/img/3d-render-people-profile-icon-2231691.png" alt="" class="img-perfil">
                                </li>
                                <li><a class="dropdown-item">{{clients.firstName + " " + clients.lastName}}</a></li>
                                <li><a class="dropdown-item" href="#">Editar información</a></li>
                                <li>
                                    <a class="dropdown-item" href="#" @click="logout">Cerrar sesión</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <nav class="navbar navbar-expand-lg bg-transparent">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <div class="anchor">
                        <div class="menu">
                            <li class="menu">
                                <a href="/web/inicioAll.html" class="btn">
                                    Inicio
                                </a>
                                <a href="/web/accounts.html" class="btn">
                                    Cuentas
                                </a>
                                <a href="/web/card.html" class="btn">
                                    Tarjetas
                                </a>
                                <a href="/web/transfers.html" class="btn">
                                    Transferencias
                                </a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </nav>


        <!--   <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse container-navbar" id="navbarTogglerDemo01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item mx-5 btn">
                            <a class="nav-link" href="#">Inicio</a>
                        </li>
                        <li class="nav-item mx-5 btn">
                            <a class="nav-link" href="#">Cuentas</a>
                        </li>
                        <li class="nav-item mx-5 btn">
                            <a class="nav-link" href="#">Tarjetas</a>
                        </li>
                        <li class="nav-item mx-5 btn">
                            <a class="nav-link" href="#">Transferencias</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> -->
        <div class="d-flex justify-content-center container-buttons flex-wrap">
        
            <div v-if="accountsActive.length < 3">
                <button @click="createdAccountAhorroCorriente" class="btn-solicitar">Solicitar apertura de
                    cuenta</button>
            </div>
            <select name="" id="" class="btn-solicitar" v-model="selectAccount" @change="getSelectAccount">
                Eliminar
                <option value="" disabled>Eliminar cuentas</option>
                <option v-for="account in accountsActive">{{account.numberAccount}}</option>
            </select>
            <button v-if="selectAccount != ''" type="button" class="btn-solicitar"
                @click="deleteAccount(accountID)">Eliminar</button>
            <a href="/web/loan-application.html" class="btn-solicitar">Solicitar prestamo</a>
        
        </div>

        <!-- Accounts -->
        <main data-aos="fade-up">
            <div class="seccion-resumen">
                <div class="resumen-main">
                    <div class="resumen-main-head" v-if="accounts != 0">
                        <h3>Mis Cuentas</h3>
                    </div>
                    <div class="resumen-main-body">
                        <div class="card-container d-flex flex-wrap">
                            <div v-for="account in accountsActive" class="card" style="width: 18rem;">
                                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                    <div  v-if="account.typeAccount != 'CORRIENTE'" class="cardIcono mb-4">
                                        <h1>CA$</h1>
                                    </div>
                                    <div v-else-if="account.typeAccount != 'AHORRO'" class="cardIcono mb-4">
                                        <h1>CC$</h1>
                                    </div>
                                    <p class="card-subtitle mb-2">{{account.numberAccount}}</p>
                                    <h6 class="card-subtitle mb-2">{{account.typeAccount}}</h6>
                                    <hr>
                                    <h2 class="d-flex justify-content-center">${{account.balance}}</h2>
                                    <hr>
                                    <div class="d-flex justify-content-center">
                                        <a :href="'account.html?id='+account.id" class="text-dark fw-bold text-decoration-none">Ver movimientos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>





    </div>





    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="/scripts/accounts.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>