<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BanCaribe - accounts</title>
    <link rel="shortcut icon" type="image/png" href="/img/logo.png">
    <link rel="stylesheet" href="/assets/menu.css">
    <link rel="stylesheet" href="/assets/accounts.css">
    <link rel="stylesheet" href="/assets/card.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div id="app" v-cloak>
        <nav class="navbar-expand-lg">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <div class="navbar-brand d-flex align-items-center justify-content-center">
                        <img src="/img/logo.png" alt="Logo" width="50" height="44"
                            class="d-inline-block align-text-top">
                        <h2>BanCaribe</h2>
                    </div>
                </div>
                <div class="navbar-collapse nav-bar" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Mi Perfil
                            </a>
                            <ul class="dropdown-menu">
                                <li><img src="/img/3d-render-people-profile-icon-2231691.png" alt="" class="img-perfil">
                                </li>
                                <li><a class="dropdown-item">{{clients.firstName + " " + clients.lastName}}</a></li>
                                <li><a class="dropdown-item" href="#">Editar información</a></li>
                                <li>
                                    <a class="dropdown-item" href="#" @click="logout">Cerrar sesión</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <nav class="navbar navbar-expand-lg bg-transparent">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <div class="anchor">
                        <div class="menu">
                            <li class="menu">
                                <a href="/web/inicioAll.html" class="btn">
                                    Inicio
                                </a>
                                <a href="/web/accounts.html" class="btn">
                                    Cuentas
                                </a>
                                <a href="/web/card.html" class="btn">
                                    Tarjetas
                                </a>
                                <a href="/web/transfers.html" class="btn">
                                    Transferencias
                                </a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- barra de botones -->
        <div class="d-flex justify-content-end container-botones">
            <a href="/web/create-card.html" class="btn-solicitar" v-if="card.length < 6">Solicitar tarjetas</a>
            <select name="" id="" class="btn-solicitar" v-model="selectCard" @change="getSelectCard()"> Eliminar
                <option value="" disabled>Eliminar tarjetas</option>
                <option v-for="cards in cardsActive">{{cards.number}}</option>
            </select>
            <button v-if="selectCard != ''" type="button" class="btn-solicitar" @click="deleteCard(cardID)">Eliminar</button>
        </div>

        <!-- Cards DEBIT-->
        <section class="d-flex container-create-card">
        <main data-aos="fade-up">
            <div class="seccion-resumen">
                <div class="resumen-main">
                    <div class="resumen-main-head">
                        <h3>Mis tarjetas de Debito</h3>
                    </div>
                    <div class="resumen-main-body">
                        <div class="card-container d-flex flex-wrap">
                            <div v-for="cards in cardsActive" class="content-card">
                                <div class="wrap tarjetasGold" v-if="cards.typeColor == 'GOLD' && cards.type == 'DEBIT'">
                                    <button class="pushCvv1">CVV</button>
                                    <div>
                                        <div class="tarjeta-wrap">
                                            <div class="tarjeta td2">
                                                <div class="adelante card1">
                                                    <img src="/img/logo.png" alt="" class="cardImgTD3" />
                                                    <span class="titleTD3">BanCaribe</span>
                                                </div>
                                                <div class="containerHolo">
                                                    <h2 class="embossGold holoName">Gold</h2>
                                                </div>
                                                <div class="container-numberD">
                                                    <img class="chip" src="/img/chipGold.png" />
                                                    <h5 class="embossGold number mx-3">{{cards.number}}</h5>
                                                </div>
                                                <div class="container-textD">
                                                    <h6 class="embossGold mx-3">
                                                        {{smalldate(cards.fromdate).slice(3, 9)}}
                                                        – {{smalldate(cards.thrudate).slice(3, 9)}}
                                                    </h6>
                                                    <h6 class="embossGold mx-4">{{cards.cardholder}}</h6>
                                                </div>
                                                <div class="atras td2">
                                                    <div class="barra"></div>
                                                    <p class="cvv">{{cards.cvv}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p v-show="smalldate(cards.fromdate).slice(7, 9) < yearActual" class="vencimiento">
                                        Su tarjeta vencio
                                    </p>
                                </div>
                                <!-- <div v-else>
                            					<div class="mx-4 tarjeta tarjetaNone d-flex flex-column justify-content-center align-items-center">
                            						<h6>Ud. no posee una tarjeta de Debito</h6>
                            						<button class="buttonCard">Solicitar</button>
                            					</div>
                            				</div> -->

                                <!-------------------------------- Tajetas de debito gold-------------------------------->
                                <div class="wrap tarjetasGold" v-if="cards.typeColor == 'TITANIUM' && cards.type == 'DEBIT'">
                                    <div class="tarjeta-wrap">
                                        <div class="tarjeta td1">
                                            <div class="adelante card1">
                                                <img src="/img/logo.png" alt="" class="cardImgTD1" />
                                                <span class="titleTD1">BanCaribe</span>
                                            </div>
                                            <div class="containerHolo">
                                                <h2 class="embossGold holoName">Titanium</h2>
                                            </div>
                                            <div class="container-numberD">
                                                <img class="chip" src="/img/chipGold.png" />
                                                <h5 class="embossGold number mx-3">{{cards.number}}</h5>
                                            </div>
                                            <div class="container-textD">
                                                <h6 class="embossGold mx-3">
                                                    {{smalldate(cards.fromdate).slice(3, 9)}}
                                                    – {{smalldate(cards.thrudate).slice(3, 9)}}
                                                </h6>
                                                <h6 class="embossGold mx-4">{{cards.cardholder}}</h6>
                                            </div>
                                            <div class="atras td1">
                                                <div class="barra"></div>
                                                <p class="cvv">{{cards.cvv}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <span v-if="smalldate(cards.fromdate).slice(7, 9) < yearActual" class="vencimiento">Su tarjeta
                                        vencio</span>
                                </div>
                                <!-- <div v-else>
                            					<div class="mx-4 tarjeta tarjetaNone d-flex flex-column justify-content-center align-items-center">
                            						<h6>Ud. no posee una tarjeta de Debito</h6>
                            						<button class="buttonCard">Solicitar</button>
                            					</div>
                            				</div> -->

                                <!-------------------------------- Tajetas debito silver -------------------------------->

                                <div class="wrap" v-if="cards.typeColor == 'SILVER' && cards.type == 'DEBIT'">
                                    <div>
                                        <div class="tarjeta-wrap">
                                            <div class="tarjeta td3">
                                                <div class="adelante card1">
                                                    <img src="/img/logo.png" alt="" class="cardImgTD2" />
                                                    <span class="titleTD2">BanCaribe</span>
                                                </div>
                                                <div class="containerHolo">
                                                    <h2 class="embossGold holoName text-white">Silver</h2>
                                                </div>
                                                <div class="container-numberD">
                                                    <img class="chip" src="/img/chipGold.png" />
                                                    <h5 class="embossGold number mx-3">{{cards.number}}</h5>
                                                </div>
                                                <div class="container-textD">
                                                    <h6 class="embossGold mx-3">
                                                        {{smalldate(cards.fromdate).slice(3, 9)}}
                                                        – {{smalldate(cards.thrudate).slice(3, 9)}}
                                                    </h6>
                                                    <h6 class="embossGold mx-4">{{cards.cardholder}}</h6>
                                                </div>
                                                <div class="atras td3">
                                                    <div class="barra"></div>
                                                    <p class="cvv">{{cards.cvv}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p v-if="smalldate(cards.fromdate).slice(7, 9) < yearActual" class="vencimiento">Su
                                        tarjeta vencio
                                    </p>
                                </div>
                                <!-- <div v-else>
                            					<div class="mx-4 tarjeta tarjetaNone d-flex flex-column justify-content-center align-items-center">
                            						<h6>Ud. no posee una tarjeta de Debito</h6>
                            						<button class="buttonCard">Solicitar</button>
                            					</div>
                            				</div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>


        <!-- Cards CREDIT-->
        <main data-aos="fade-up">
            <div class="seccion-cards">
                <div class="resumen-main">
                    <div class="resumen-main-head">
                        <h3>Mis tarjetas de Credito</h3>
                    </div>
                    <div class="resumen-main-body">
                        <div class="card-container d-flex flex-wrap">
                            <div v-for="cards in cardsActive" class="content-card">
                                <div class="wrap tarjetasGold" v-if="cards.typeColor == 'TITANIUM' && cards.type == 'CREDIT'">
                                    <div class="tarjeta-wrap">
                                        <div class="tarjeta tarjetaTitanium">
                                            <div class="adelante card1">
                                                <img src="/img/logo.png" alt="" class="cardImgC" />
                                                <span class="titleC emboss">BanCaribe</span>
                                            </div>
                                            <div class="containerHolo">
                                                <h2 class="holoName emboss">Titanium</h2>
                                            </div>
                                            <div class="container-numberD">
                                                <img class="chip" src="/img/chipSilver.png" />
                                                <h5 class="number mx-3 emboss">{{cards.number}}</h5>
                                            </div>
                                            <div class="container-textD">
                                                <h6 class="mx-3 emboss">
                                                    {{smalldate(cards.thrudate).slice(3, 9)}}
                                                    – {{smalldate(cards.fromdate).slice(3, 9)}}
                                                </h6>
                                                <h6 class="mx-4 emboss">{{cards.cardholder}}</h6>
                                            </div>
                                            <div class="atras">
                                                <div class="barra"></div>
                                                <p class="cvv emboss">{{cards.cvv}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <p v-if="smalldate(cards.fromdate).slice(7, 9) < yearActual" class="vencimiento">Su tarjeta vencio
                                    </p>
                                </div>
                            
                                <!-- <div v-else>
                            					<div class="mx-4 tarjeta tarjetaNone d-flex flex-column justify-content-center align-items-center">
                            						<h6>Ud. no posee una tarjeta de Debito</h6>
                            						<button class="buttonCard">Solicitar</button>
                            					</div>
                            				</div> -->
                            
                                <!-------------------------------- Tajetas de credito gold-------------------------------->
                                <div class="wrap tarjetasGold" v-if="cards.typeColor == 'GOLD' && cards.type == 'CREDIT'">
                                    <div class="tarjeta-wrap">
                                        <div class="tarjeta tarjetaGold">
                                            <div class="adelante card1">
                                                <img src="/img/logo.png" alt="" class="cardImgC" />
                                                <span class="titleC emboss">BanCaribe</span>
                                            </div>
                                            <div class="containerHolo">
                                                <h2 class="holoName emboss">Gold</h2>
                                            </div>
                                            <div class="container-numberD">
                                                <img class="chip" src="/img/chipSilver.png" />
                                                <h5 class="number mx-3 emboss">{{cards.number}}</h5>
                                            </div>
                                            <div class="container-textD">
                                                <h6 class="mx-3 emboss">
                                                    {{smalldate(cards.fromdate).slice(3, 9)}}
                                                    – {{smalldate(cards.thrudate).slice(3, 9)}}
                                                </h6>
                                                <h6 class="mx-4 emboss">{{cards.cardholder}}</h6>
                                            </div>
                                            <div class="atras">
                                                <div class="barra"></div>
                                                <p class="cvv emboss">{{cards.cvv}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <p v-if="smalldate(cards.fromdate).slice(7, 9) < yearActual" class="vencimiento">Su tarjeta vencio
                                    </p>
                                </div>
                                <!-- <div v-else>
                            					<div class="mx-4 tarjeta tarjetaNone d-flex flex-column justify-content-center align-items-center">
                            						<h6>Ud. no posee una tarjeta de Debito</h6>
                            						<button class="buttonCard">Solicitar</button>
                            					</div>
                            				</div> -->
                            
                                <!-------------------------------- Tajetas debito silver -------------------------------->
                            
                                <div class="wrap" v-if="cards.typeColor == 'SILVER' && cards.type == 'CREDIT'">
                                    <div class="tarjeta-wrap">
                                        <div class="tarjeta tarjetaSilver">
                                            <div class="adelante card1">
                                                <img src="/img/logo.png" alt="" class="cardImgC">
                                                <span class="titleC emboss">BanCaribe</span>
                                            </div>
                                            <div class="containerHolo">
                                                <h2 class="holoName emboss">Silver</h2>
                                            </div>
                                            <div class="container-numberD">
                                                <img class="chip" src="/img/chipSilver.png">
                                                <h5 class="number mx-3 emboss">{{cards.number}}</h5>
                                            </div>
                                            <div class="container-textD">
                                                <h6 class="mx-3 emboss">{{smalldate(cards.fromdate).slice(3, 9)}}
                                                    – {{smalldate(cards.thrudate).slice(3, 9)}}</h6>
                                                <h6 class="mx-4 emboss">{{cards.cardholder}}</h6>
                                            </div>
                                            <div class="atras">
                                                <div class="barra">
                                                </div>
                                                <p class="cvv emboss">{{cards.cvv}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <p v-if="smalldate(cards.fromdate).slice(7, 9) < yearActual" class="vencimiento">Su tarjeta vencio
                                    </p>
                                </div>
                                <!-- <div v-else>
                            					<div class="mx-4 tarjeta tarjetaNone d-flex flex-column justify-content-center align-items-center">
                            						<h6>Ud. no posee una tarjeta de Debito</h6>
                            						<button class="buttonCard">Solicitar</button>
                            					</div>
                            				</div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        </section>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="/scripts/card.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>