<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BanCaribe - login</title>
    <link rel="shortcut icon" type="image/png" href="/img/logo.png">
    <link rel="stylesheet" href="/assets/login.css">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
</head>

<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                    <form action="#" class="sign-in-form" id="app" v-cloak>
                        <div class="imagen-logo">
                            <img src="/img/logo.png" alt="" class="logo">
                            <h2 class="title">BanCaribe</h2>
                        </div>
                        <div class="input-field">
                            <img src="/img/email.png" alt="" style="width: 1.5rem;" class="imgIconos">
                            <input type="text" placeholder="Ingrese su usuario" v-model="email">
                        </div>
                        <div class="input-field">
                            <img src="/img/candado.png" alt="" style="width: 1.5rem;" class="imgIconos">
                            <input type="password" placeholder="Ingrese la contraseña" v-model="password">
                        </div>
                        <button class="btn" @click="login">Ingresar</button>
                    </form>
                    <form action="#" class="sign-up-form" id="app1">
                        <h2 class="title">Registrar</h2>
                        <div class="input-field">
                            <img src="/img/person.png" alt="" style="width: 1.5rem;" class="imgIconos">
                            <input type="text" placeholder="Ingrese su Nombre" v-model="firstValueName" />
                        </div>
                        <div class="input-field">
                            <img src="/img/person.png" alt="" style="width: 1.5rem;" class="imgIconos">
                            <input type="text" placeholder="Ingrese su apellido" v-model="lastValueName"/>
                        </div>
                        <div class="input-field">
                            <img src="/img/email.png" alt="" style="width: 1.5rem;" class="imgIconos">
                            <input type="email" placeholder="Ingrese su Email" v-model="emailValue" />
                        </div>
                        <div class="input-field">
                            <img src="/img/candado.png" alt="" style="width: 1.5rem;" class="imgIconos">
                            <input type="password" placeholder="Ingrese una contraseña segura" v-model="password" />
                        </div>
                        <button class="btn" @click="addClient">Registrarse</button>
                    </form>
            </div>
            <div class="panels-container">
                <div class="panel left-panel">
                    <div class="content">
                        <h3>Aun no esta registrado?</h3>
                        <button class="btn-btn" id="sign-up-btn">
                            Registrarse
                        </button>
                    </div>
                    <img src="/img/imagenInicio.png" class="image" alt="" />
                </div>
                <div class="panel right-panel">
                    <div class="content content1">
                        <h3>Quieres iniciar sesión?</h3>
                        <button class="btn-btn" id="sign-in-btn">
                            Iniciar sesión
                        </button>
                    </div>
                    <img src="/img/imagenRegistrar.png" class="image" alt="" />
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="/scripts/login.js"></script>
    <script src="/scripts/index.js"></script>
    <script src="/scripts/register.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>